<section id="sessions" class="sessions">
    <div class="content-wrapper">
      <div class="col-lg-10 col-lg-offset-1">
        {%  if page.subtitle  %}
          <div class="text-left">
            <h4>{{ page.subtitle }}</h4>
          </div>
        {% endif %}

        {% include sessions-filters.html %}
      </div>

		{% for session in site.data.sessions.list %}
			{% if session.service != true %}
        {% assign tags = session | map: "tags" %}
				<div class="col-lg-10 col-lg-offset-1 sessionDetails {{ site.data.sessions.meta.sessiontype[session.type].title | replace: ' ', '-' | downcase }} {{ site.data.sessions.meta.complexity[session.complexity].title | replace: ' ', '-' | downcase }} {{ tags | join: "%%tags-" | prepend: "tags-" | replace: ' ', '-' | downcase | replace: '%%', ' '}}" id="sessionDetail-{{ session.id }}" tabindex="-1">
          <div class="color-line" style="position: relative !important; margin-top: 20px; background: {{ site.data.sessions.meta.sessiontype[session.type].color }}"></div>
					<div class="people-modal text-left">
						<h5>{{ session.title }}</h5>
            {% if session.type != null %}
            <span class="theme-metadata"><span class="caption">Typ sesji: </span><strong>{{ site.data.sessions.meta.sessiontype[session.type].title }}</strong></span>
            {% endif %}
						{% if session.complexity != null %}
						<span class="theme-metadata"><span class="caption">Poziom: </span><strong>{{ site.data.sessions.meta.complexity[session.complexity].title }}</strong></span>
						{% endif %}
						<p class="theme-description">{{ session.description | newline_to_br }}</p>
            {% if session.prereq %}
            <p class="theme-description">
              <figure>
                <figcaption>{{ session.prereq["title"] }}</figcaption>
                <ul>
                  {% for p in session.prereq["list"] %}
                  <li>{{ p }}
                  {% endfor %}
                </ul>
              </figure>
            </p>
            {% endif %}
						<hr>
						<div class="people-details">
							{% for speaker in site.data.speakers %}
								{% for session_speaker in session.speakers %}
									{% if session_speaker == speaker.id %}
									<div>
										<div class="col-md-2 col-sm-2">
                      {% if speaker.thumbnailUrl %}
											<div class="flow-img img-circle people-img" style="background-image: url({{ site.baseurl | append: '/img/people/' | append: speaker.thumbnailUrl }}); cursor: pointer;" data-toggle="modal" data-target="#speakerDetail-{{ speaker.id }}"></div>
                      {% endif %}
										</div>
										<div class="col-md-10 col-sm-10 details">
											<p class="name">{{ speaker.name }} {{ speaker.surname }}
												<span class="position">
                          {{ speaker.title }}
                          {% if speaker.company %}
                          . {{ speaker.company }}
                          {% endif %}
                        </span>
											</p>
											{% if speaker.ribbon != null %}
											<div class="modal-ribbon-wrapper">
					                            {% for ribbon in speaker.ribbon %}
					                               <!-- <a class="modal-ribbon" href="{{ ribbon["url"] }}" target="_blank"> -->
                                           {{ ribbon["title"] }}
                                         <!-- </a> -->
					                            {% endfor %}
					                        </div>
					                        {% endif %}
                      {% assign bio = speaker.bio | split: ". " %}
                      <p class="about">{{ bio[0] }}</p>
											<ul class="social">
												{% for social in speaker.social %}
													<li>
														<a href="{{ social["link"] }}" target="_blank">
															<svg class="icon icon-{{ social["name"] }}" viewBox="0 0 30 32">
																<use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-{{ social["name"] }}"></use>
															</svg>
														</a>
													</li>
												{% endfor %}
											</ul>
										</div>
									</div>
									{% endif %}
								{% endfor %}
							{% endfor %}
						</div>
					</div>
				</div>
			{% endif %}
		{% endfor %}
    <div class="col-lg-10 col-lg-offset-1" style="padding-top: 3rem;">
      {% include sessions-filters.html onlytags="true" %}
    </div>

    <div class="col-lg-12 col-md-12">
      {% for button in site.heroButtons %}
      <a href="{% if button.permalink != null %} {{ button.permalink | prepend: site.baseurl }} {% else %} {{ button.link }} {% endif %}" class="btn btn-primary waves-effect waves-button waves-light waves-float" {% if button.link != null %}target="_blank"{% endif %}>{{ button.text }}</a>
      {% endfor %}
    </div>

	</div>
</section>
