<div class="col-lg-10 col-lg-offset-1">
  <div class="text-left">
    <h4>{{ page.subtitle }}</h4>
    <p>Chcemy aby ByteBay była konferencją interdyscyplinarną, nie ograniczającą się do pojedynczego języka programowania, do pojedynczego ekosystemu aplikacji. Dlatego mamy dla Was szereg ścieżek, których szczegóły znajdziecie poniżej.</p>
    <p>
      <dl>
        <dt>Java i JVM</dt>
        <dd>Nie skupiamy się na samej Javie, ale bardziej na platformie. Zasadach działania, byte codzie, wewnętrznych mechanizmach - potrzebnych nie tylko w samej Javie ale wielu językach dostępnych na platformie.</dd>
        <dt>Języki programowania</dt>
        <dd>Nowoczesny, świadomy programista to nie jeden język programowania. Dlatego możecie spodziewać się warsztatów z zakresu Kotlina, Clojure, JavaScript, TypeScript - w formie warsztatów, praktycznie, prowadzonych przez praktyków z doświadczeniem.</dd>
        <dt>Architektura</dt>
        <dd>Zagadnienia wykraczające poza pojedynczy element aplikacji, nad którymi zastanawiamy się gdy spojrzymy na szerszą perspektywę projektu bądź rozwiązania. Niezależnie od tego czy mówimy o monolitach, czy mikro usługach, rzeczy typu logowanie, monitoring, service discovery, loadbalancing zawsze są istotne. Będziemy o tym rozmawiać.</dd>
        <dt>DevOps</dt>
        <dd>Nowoczesne systemy to nie tylko aplikacje; to przede wszystkim infrastruktura. Przybliżymy modne i popularne ostatnio DevOpsowe tematy jak Docker, Kubernetes. Wszystko w warsztatowej i praktycznej formie.</dd>
        <dt>Frontend</dt>
        <dd>Jak w nowoczesny i łatwy do utrzymania sposób budować wizualną stronę aplikacji. Jakie narzędzie, jakie architektury, jak zmieniać istniejące aplikacje na nowocześniejsze, szybsze, lepiej działające. Tematy tylko React, Angular albo refaktoryzacja aplikacji będą tutaj dominować. </dd>
        <dt>Modelowanie</dt>
        <dd>Przełożenie koncepcji biznesowych na rozwiązania to trudna sztuka, dlatego postaramy się przybliżyć arkana i techniki Domain Driven Design. Zagłębimy się w takie pojęcia jak Event Storing, CQRS, zdarzenia domenowe - aby budować aplikacje spójne z wymaganiami biznesowymi.</dd>
        <dt>Bazy danych</dt>
        <dd>Porozmawiamy zarówno o klasycznych bazach SQL (i ich wydajności) jak i o noSQLa (także wydajności MongoDB, ElasticSearch) lub o bazach pamięciowych. W końcu każda aplikacja wymaga danych - a jak je będziemy przechowywać to kwestia decyzji projektowej</dd>
        <dt><i>Train the trainer</i></dt>
        <dd>Jedyna ścieżka <i>miękka</i> podczas której porozmawiamy jak zacząć uczyć innych, jak przekazywać zdobytą przez wiele lat wiedzę. Umiejętność niezmiernie ważne i niezmiernie często pomijana przez osoby techniczne.</dd>

      </dl>
    </p>
  </div>
</div>
