<div class="row">
  <div class="col-md-1 col-sm-1 col-xs-12 text-left text-nowrap">
    Filtruj ścieżki:
  </div>
  <div class="col-md-11 col-sm-11 col-xs-12">
    <div class="filters">
      <div class="item text-nowrap">
          <a href="javascript:void(0)" onclick="showFilteredSessions('all')">Pokaż wszystkie</a>
      </div>
      {% if include.onlytags != "true" %}
        {% for type in site.data.sessions.meta.sessiontype %}
          <div class="item text-nowrap">
            <a href="javascript:void(0)" onclick="showFilteredSessions('{{ type.title | replace: ' ', '-' | downcase }}')">{{ type.title }}</a>
          </div>
        {% endfor %}
        <div class="break"></div>
      {% endif %}
      {% assign all_tags = site.data.sessions.list | map: "tags" | uniq | sort  %}
      {% for t in all_tags %}
      <div class="item text-nowrap">
        <a href="javascript:void(0)", onclick="showFilteredSessions('{{ t | replace: ' ', '-' | downcase | prepend: "tags-" }}')">{{ t }}</a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
