<!-- Begin Tickets Section -->
<section id="tickets" class="tickets">
	<div class="content-wrapper">
		<div class="col-lg-8 col-md-10 col-lg-offset-2 col-md-offset-1">
			<h3>{{ site.ticketsTitle }}</h3>
      <!-- <span class="tickets-info">{{ site.ticketsInfo }}</span> -->
			<iframe src="https://bytebay2018.konfeo.com/pl/groups?iframe=1" frameborder="0" width="100%" scrolling="auto" style="min-height: 500px"></iframe>
<script type="text/javascript" src="https://bytebay2018.konfeo.com/iframeResizer.min.js"></script>
		</div>
	</div>
</section>
<!-- End Tickets Section -->
