.statistic {
	.counter {
			display: flex;
			flex-direction: column;
			align-items: center;

			@media (max-width: 767px) {
				padding-top: 26px;
			}
		}

		@mixin stat-shared($font-size) {
			font-size: $font-size;
	    // color: $link-color;
			color: white;
			border-radius: 50%;
			width: $font-size + 100px;
			height: $font-size + 100px;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-bottom: $font-size / 4;
		}

    .stat {
			@include stat-shared(80px);

			&.bgcolor0 {
				background-color: #3BBFCB;
			}

			&.bgcolor1 {
				background-color: #3BBFCB;
			}

			&.bgcolor2 {
				background-color: #2A6AA5;
			}

	    @media (min-width: 768px) and (max-width: 991px) {
	    	@include stat-shared(70px);
	    }
	    @media (max-width: 767px) {
	    	@include stat-shared(60px);
	    }
	}
	.stat-info {
	    font-size: 23px;
	}
	hr {
	    width: 20px;
	    border-top: 1px solid $link-color;
	}
	.small {
	    font-size: 15px;
	}
}
